<ul class="nav nav-tabs nav-stacked">
  <li class="nav-item">
    <a routerLink="editor" class="nav-link active">editor</a>
  </li>
  <li class="nav-item">
    <a routerLink="signup" class="nav-link">SignUp</a>
  </li>
  <li class="nav-item disabled">
    <a routerLink="login" class="nav-link">Login</a>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to RMUTE</h1>
    <p class="lead">where collabotation is easier</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>