<div style="margin-top: 20px">
  <h2>New User? Signup</h2>
    <hr/>
  </div>
  <div style="margin-top: 30pt">
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div class="form-group">
          <label for="firstname"><strong>First Name</strong></label>
          <input class="form-control" id="firstNnme" [(ngModel)]="signup.firstNnme" placeholder="firstNnme" required name="firstNnme" #fullname="ngModel"/>
        </div>
  <div class="form-group">
        <label for="emailField"><strong>Email address</strong></label>
        <input type="email" class="form-control" id="emailField" [(ngModel)]="signup.email" required placeholder="name@example.com" name="uEmail" #email="ngModel"/>
      </div>
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email address is required</div>
  <div class="form-group">
        <label for="password"><strong>Password</strong></label>
        <input type="password" class="form-control" id="password" [(ngModel)]="signup.password" name="password" (blur)="confirmPassword()" required placeholder="Password" #pswd="ngModel"/>
      </div>
  <div [hidden]="pswd.valid || pswd.pristine" class="alert alert-danger">Password is required</div>
  <div class="form-group">
        <label for="cnfpassword"><strong>Confirm Password</strong></label>
        <input type="password" class="form-control" id="cnfpassword" [(ngModel)]="passwordConfirmationTxt" (blur)="confirmPassword()" name="passwordConfirmationTxt"/>
      </div>
  <div [hidden]="!passwordConfirmationFailed" class="alert alert-danger">Password did not match</div>
  <div [hidden]="fullname.valid || fullname.pristine" class="alert alert-danger">Name is required</div>
  <div class="form-group">
        <label for="country"><strong>Country</strong></label>
        <select class="form-control" id="country" required>
  <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Submit</button>
    </form>
  </div>
